# Python venv
airflow/.venv/
venv/
.env/

# Airflow logs
airflow/logs/

# OS / editor stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store

# Office docs (optional, keep if you want them in repo)
*.docx
